
Semantics at-most-once


LoggingLevel full


OP1 input ops C:\Users\franc\Documents\Visual Studio 2015\Projects\Dadstorm\Inputs\tweeters.dat rep fact 1 routing hashing(1) address tcp://localhost:11004/op, tcp://localhost:11005/op operator spec FILTER 3,=,"www.tecnico.ulisboa.pt"



Start OP1

Wait 10000

Status
% Crash OP1

